html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


html, body {
    margin: 0;
}


body {
    background-color: #101010;
    color: white;
    overflow-x: hidden;
    font-family: 'Nunito', serif;
    text-align: left;
    font-weight: bold;
}

h3 {
    color: white;
}

h3 span {
    display: block;
    margin: 11px 0 17px 0;
    font-size: 70px;
    line-height: 70px;
    /* color: white;*/
    /*
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    */
    letter-spacing: -2px;
}


.all {
    font-family: 'Nunito', serif;
    text-align: left;
    margin: 0 auto;
    font-weight: normal;
    font-size: 22px;
    width: 1250px;
}

.sub_headline {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    padding-right: 10px;
    display: inline;
    padding-top: 10px;

}

.top_bar_text {
    font-size: 17px;
}

.headline {
    font-family: 'Nunito', serif;
    text-align: left;
    font-weight: bold;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: -100px;
    /*
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    */

}

.names {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    padding-right: 10px;
}

.description_text {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    padding-top: 15px;
    font-style: italic;
}

.text {
    font-family: 'Nunito', serif;
    text-align: left;
    font-size: 25px;
}

.icons {
    filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(327deg) brightness(103%) contrast(101%);
    width: 23px;
    padding-right: 8px;
    vertical-align: -3px;
}

.icon {
    filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(327deg) brightness(103%) contrast(101%);
    width: 23px;
    padding-right: 8px;
    vertical-align: -3px;
}


.link_icons {
    filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(327deg) brightness(103%) contrast(101%);
    width: 23px;
    padding-right: 8px;
    vertical-align: -3px;
}

.link_icons:hover {
    transition: all 0.3s ease 0s;
    opacity: .2;
}

ul {
    list-style-type: disc;
    margin: 5px;
}


/*Topbar*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    margin-top: -12px;
    z-index: 1;
    background-color: #101010;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Link effects */

:root {
    --mainColor: white;
}

a:link {
    background: linear-gradient(
            to bottom, var(--mainColor) 0%, var(--mainColor) 100%
    ) repeat-x 0 100%;
    background-size: 2px 2px;
    text-decoration: none;
    transition: background-size .2s;
    color: white;
}

a:hover {
    background-size: 4px 40px;
}

a:visited {
    text-decoration: none;
    color: ghostwhite;
}

.nav_link {
    list-style: none;

}

.nav_link li {
    display: inline-block;
    padding: 0 20px;
}

.nav_link li a {
    background: none;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav_link li a:hover {
    color: darkgrey;
}


.nav_link li .other_link a {
    transition: all 0.3s ease 0s;
}


a:hover {
    transition: all 0.3s ease 0s;
    color: black;
}

.other_link a:hover {
    transition: all 0.3s ease 0s;
    color: grey;
}

.button a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    text-align: center;
    position: relative;
    transition: all .35s;
    background: none;
}

.button a span {
    position: relative;
    z-index: 2;
}

.button a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all .35s;
}

.button a:hover {
    color: black;
    border: 2px solid rgba(0, 0, 0, 0);
}

.button a:hover:after {
    width: 100%;
}


/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Slideshow---------------------------------------------------------------------------------------- */


/* Youtube Video ----------------------------------------------------------------------------------------------------*/

.video-container-wrapper {
    max-width: 100%;
    width: 600px;
    margin: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1200px;
    height: auto;
    display: flex;
}

.wrapper2 {
    width: 1200px;
    height: auto;
    display: flex;
}

.left2 {
    margin-right: auto;
    margin-left: auto;
}

.right2 {
    margin-right: auto;
    margin-left: auto;
}

.skills, .skill {
    padding-bottom: 150px;
}



.description_text {
    font-style: italic;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}


/* Responsive */

@media only screen and (max-width: 1200px) {

    .headline {
        text-align: center;
    }


    .top_bar_text {
        font-size: 14px;
    }

    ul {
        padding-left: 0;
    }


    .nav_link li {
        display: inline-block;
        padding: 0 15px;
    }

    .myName {
        padding-left: 0 !important;
    }

    .names {
        text-align: center;
    }

    .description_text {
        padding-top: 25px;
        text-align: center;
        padding-right: 15px;
    }

    .all {
        width: auto;
    }

    .wrapper {
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .sub_headline {
        text-align: left;
    }

    .left {
        width: auto;
        margin-bottom: -575px;
        text-align: center;
    }

    .skill{
        margin-top: 0!important;
        position: center;

    }
    .left2 {
        margin-right: 0;
        margin-left: 50px;
    }

    .right2 {
        margin-right: 0;
        margin-left: 50px;
    }

    .wrapper2 {
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .skills{
        margin: 350px 10px 0 0;
        padding-left: 30px;
        padding-right: 10px;
        padding-top: 30px;
        overflow-wrap: break-word;
    }

    .right {
        width: auto;
        padding-top: 10px;
        margin: 575px 0 -350px 0;
        position: center;
    }

    .icons {
        padding-left: 20px;
        text-align: left;
    }

    .text {
        text-align: left;
    }

    .info {
        text-align: center;
    }

    .info2 {
        text-align: center;
    }

    .responsive_text {
        width: auto;
        padding-top: 10px;
        position: center;
    }

    .left3 {
        width: auto;
        margin-bottom: -600px;
    }

    .aboutme {
        padding: 0 30px;
    }

    .right3 {
        width: auto;
        padding-top: 10px;
        margin: 600px 0 0 0;
        position: center;
    }

    .Slider {
        position: relative;
        display: flex;
        width: 600px;
        height: 375px;
        overflow: hidden;
        text-align: center;
        margin-right: 0;
    }

    @media only screen and (max-width: 950px) {
        .nav_link {
            display: none;
        }
    }

    @media only screen and (max-width: 800px) {
        h3,h3 span {
            margin-left: 10px!important;
            line-height: 60px !important;
        }

        .names {
            font-size: 25px;
            line-height: 30px!important;
        }

        .gif {
            width: 500px;
        }
        .responsive_text {
            margin: 0;
        }





        @media only screen and (max-width: 550px) {

            .gif {
                width: 300px;
            }

            .all {
                min-width: 300px;
            }

            .button a {
                width: 100px;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
            }

            .all {
                font-size: 18px;
            }

        }

    }
}

